<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
            <section>
                <div class ="holder zip">
                    <label for="zip">Enter Zipcode here</label>
                    <input type="text" id="zip" placeholder="enter zip code here">
                  </div>
                  <div class ="holder feel">
                    <label for="feelings">How are you feeling today?</label>
                    <textarea class= "myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>
                  <button id="generate" type = "submit"> Generate </button>
                </div>
                <div class ="holder entry">
                  <div class ="title">Most Recent Entry</div>
                  <div id ="entryHolder">
                    <div class ="date_container">  
                      <ion-icon name="calendar-outline"></ion-icon>
                      <div id ="date">Date</div>
                    </div>
                    <div class ="temp_container">
                      <ion-icon name="thermometer-outline"></ion-icon> 
                      <div id = "temp">Temp</div>
                    </div>
                    <div class ="content_container">
                      <ion-icon name="person-circle-outline"></ion-icon>
                      <div id ="content">Content</div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
